robotframework==3.1.2
selenium==3.141.0
robotframework-seleniumlibrary==4.3.0
robotframework-pabot==1.0.0
robotframework-selenium2library==3.0.0
robotframework-xvfb
robotframework-databaselibrary
DateTime
Faker
robotframework-httplibrary
robotframework-extendedrequestslibrary
openpyxl
robotframework-openpyxllib
robotframework-openpyxllib2
autoit
PyAutoIt
robotframework-jsonlibrary
robotframework-faker
robotframework-autoit
